4096Colors/
*.psess
*.vsp
Debug/
FixPalette/
OldRelease/
Release/
Release64/
*.dsp
*.dsw
*.ncb
*.opensdf
*.opt
*.plg
*.sdf
*.old
*.user
*.vspscc
*.vssscc
*.XML
*.idb
*.scc
*.apw
*.aps
*.clw
bigdata.dat
convert9918.ini
ipch/

